{% extends "base.html" %}

{% block title %}Topic Details{% endblock title %}

{% block content %}

<div class="container-fluid">
    <div class="col-sm-6 col-md-6 col-md-offset-3">
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Topic details</div>

  <!-- Table -->
    <div class="topiclist">

            <b>ID:</b> <p>{{ topic.key.id() }}</p>
            <b>Title:</b> <p>{{ topic.title }}</p>
            <b>Email:</b> <p>{{ topic.author_email }}</p>
            <b>Content:</b> <p>{{ topic.content }}</p>
            <b>Date:</b> <p>{{ topic.created }}</p>
    </div>

</div>

</div>
</div>


{% endblock content %}