<div class="row">
  <div class="col-md-12">
    <div class="alert alert-danger fade in" role="alert">
      <h4>Are you sure you want to delete the topic "{{ topic.title }}"?</h4>
        <form action="/topic/{{ topic.key.id() }}/delete" method="post">
          <div>
          <a href="/topic/{{ topic.key.id() }}/details" class="btn btn-default">Cancel</a>

          <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
          <button type="submit" class="btn btn-danger">Delete</button>

          </div>

        </form>
    </div>
  </div>
</div>
